{% extends "index.html" %}
{% block title %} Login {% endblock %}
{% block style %}
<style type="text/css">
        h1 {
            color: green;
        }

 .fixer {
            
            margin: auto;
            top: 100px;
            
            text-align: center;
            
            
            position:relative; 
            
            
        }

   </style>

  {% endblock %}

{%block section1%}
<header class="masthead">
            <div class="fixer" class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div  class="d-flex justify-content-center">
                	<form method="POST" enctype="multipart/form-data">
                	
					
{%endblock%}

{%block section2%}

{%endblock%}

{%block section3%}

{%endblock%}

{%block section4%}

{%endblock%}

{%block section5%}

{%endblock%}

{%block content%}


{%endblock%}